@import model.Db
@import model.User
@import views.html.app._
@import play.api.Configuration
@(content: Html)(implicit messages: Messages, lang: Lang, request: RequestHeader, conf: Configuration)

@getFlag = @{
    if(lang.code.contains("en")) "us" else lang.code
}

@getUsername = @{
    val id = request.session.get(Security.username).get
    Db.query[User].whereEqual("userId", id).fetchOne().get.fullName
}

@main {
    <script type="text/javascript">
            $(function () {
                // enables dropdown and posts lang change then reloads page
                $('#langdropdown').dropdown({
                    action: function (text, value) {
                        $.ajax({
                            type: 'POST',
                            url: '/lang',
                            contentType: 'text/plain',
                            data: value
                        }).done(function () {
                            window.location.reload(false)
                        })
                    }
                });
                // sets the active item in the menu
                var url = window.location.href;
                $("#menu").find("a").each(function () {
                            if (url == (this.href)) {
                                $(this).addClass("active");
                            }
                        }
                );
            });
    </script>

    <div class="ui grid">
        <div class="two wide column">
            <div class="row">
                <a href="@routes.Application.search()" class="ui fluid circular image">
                    <img src="@routes.Assets.at("/images/dojseal.png")">
                </a>
            </div>
            <div class="ui hidden divider"></div>
            <div class="row">
                <div id="menu" class="ui secondary vertical pointing menu">
                    <a class="item" href="@routes.Application.search()">@Messages("menu.search")</a>
                    <a class="item" href="@routes.Application.addUser()">@Messages("menu.add")</a>
                    <a class="item" href="@routes.Application.jcg()">@Messages("menu.jcg")</a>
                    <a class="item" href="@routes.Application.translate()">@Messages("menu.translate")</a>
                    <a class="item" href="@routes.Application.xMath()">@Messages("menu.xmath")</a>
                </div>
            </div>
        </div>
        <div class="fourteen wide column">
            <div class="row">
                <div class="ui hidden divider"></div>
                <div class="ui grid">
                    <div class="thirteen wide column">
                        <h2>@Messages("welcome", getUsername)</h2>
                    </div>
                    <div class="one wide right aligned column">
                        <div id="langdropdown" class="ui floating dropdown labeled search icon button">
                            <i class="world icon"></i>
                            <i class="@getFlag flag"></i>
                            <div class="menu">
                                <div class="item" data-value="en"><i class="us flag"></i> @Messages("lang.en")</div>
                                <div class="item" data-value="de"><i class="de flag"></i> @Messages("lang.de")</div>
                                <div class="item" data-value="fr"><i class="fr flag"></i> @Messages("lang.fr")</div>
                            </div>
                        </div>
                    </div>
                    <div class="two wide right aligned column">
                        <form action="@routes.Auth.logout()">
                            <button class="ui negative right labeled icon button">
                                <i class="power icon"></i>
                                @Messages("logout")
                            </button>
                        </form>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
            <div class="row">
                <div class="ui grid">
                    <div class="twelve wide column">
                        <div class="ui segment">
                        @content
                        </div>
                    </div>
                    <div class="four wide column">
                    @weather()
                    </div>
                </div>
            </div>
        </div>
    </div>
}
