@import model.{Db, User}
@import views.html.app._
@import play.api.Configuration
@()(implicit messages: Messages, lang: Lang, request: RequestHeader, conf: Configuration)

@app {
    <script type="text/javascript">
            function confirmIfSelf(id) {
                if (id == '@request.session.get(Security.username).get') {
                    return confirm('@Messages("delete.confirm")')
                }
            }
    </script>
    <form>
        <h1>@Messages("search.all")</h1>
        @successMsg()
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>@Messages("userId")</th>
                    <th>@Messages("lastName")</th>
                    <th>@Messages("firstName")</th>
                    <th>@Messages("email")</th>
                    <th>@Messages("pw")</th>
                </tr>
            </thead>
            <tbody>
            @for(user <- Db.query[User].fetch()) {
                <tr>
                    <td>@user.userId</td>
                    <td>@user.lastName</td>
                    <td>@user.firstName</td>
                    <td>@user.email</td>
                    <td>@user.pw</td>
                    <td>
                        <button class="ui negative button"
                        formaction="@routes.RestApi.delete(user.userId)"
                        onclick="return confirmIfSelf('@user.userId')">@Messages("button.delete")</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </form>
}
