@(form: Form[(String, String)] = null)(implicit messages: Messages, lang: Lang)

@getValue(id: String) = @{
    if(form != null) form(id).value.getOrElse("") else ""
}

@main {

    <style type="text/css">
    body {
        background-color: #DADADA;
    }

    body > .grid {
        height: 100%;
    }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }
    </style>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img src="@routes.Assets.at("/images/dojseal.png")" class="image" />
                <div class="content">@Messages("login.message")</div>
            </h2>
            <form class="ui large form" action="@routes.Auth.authenticate()" method="post">
                <div class="ui stacked segment">
                    <div class="field @if(form != null && form("userId").hasErrors) {error}">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="userId" placeholder="@Messages("userId")" value="@getValue("userId")"/>
                        </div>
                        @if(form != null && form("userId").hasErrors) {
                            <div class="ui pointing red basic label">
                                <i class="attention icon"></i> @Messages(form.error("userId").get.message)
                            </div>
                        }
                    </div>
                    <div class="field @if(form != null && (form("pw").hasErrors
                            || (form.hasErrors && !form("userId").hasErrors))) {error}">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="pw" placeholder="@Messages("pw")" value="@getValue("pw")"/>
                        </div>
                        @if(form != null && form("pw").hasErrors) {
                            <div class="ui pointing red basic label">
                                <i class="attention icon"></i> @Messages(form.error("pw").get.message)
                            </div>
                        } else {
                            @if(form != null && form.hasErrors && !form("userId").hasErrors) {
                                <div class="ui pointing red basic label">
                                    <i class="attention icon"></i> @Messages("error.validPassword")
                                </div>
                            }
                        }
                    </div>
                    <button class="ui fluid large grey submit button">Login</button>
                </div>
            </form>
        </div>
    </div>
}